{% extends "base.html" %}
{% block content %}

    <div id="mainMap" style="height:400px;width: 700px;padding:10px;background:#1B1B1B">
</div>
<!--Step:2 Import echarts.js-->
<!--Step:2 引入echarts.js-->

<script type="text/javascript" src="static/js/jquery-1.8.0.js"></script>
<script src="static/js/echarts.js" charset="UTF-8"></script>
<script type="text/javascript">
	$('#document').ready(function(){
		 getEcharts();
	 });
</script>

<script type="text/javascript">

var node_list = new Array();
{% for tmpJson in node_json %}
    var tmpJson = JSON.parse({{ tmpJson|tojson|safe }})
    node_list.push(tmpJson)
{% endfor %}

var edge_list = new Array();
{% for json_one in edge_json %}
    var tmp_list = new Array();
    {% for json_two in json_one %}
        var tmp_json = JSON.parse({{ json_two|tojson|safe }})
        tmp_list.push(tmp_json)
    {% endfor %}
    edge_list.push(tmp_list)
{% endfor %}

function getEcharts(){
    // Step:3 conifg ECharts's path, link to echarts.js from current page.
    // Step:3 为模块加载器配置echarts的路径，从当前页面链接到echarts.js，定义所需图表路径
    require.config({
        paths: {
            echarts: '../static/js'
        }
    });

    // Step:4 require echarts and use it in the callback.
    // Step:4 动态加载echarts然后在回调函数中开始使用，注意保持按需加载结构定义图表路径
    require(
        [
            'echarts',
            'echarts/chart/map'
        ],
        function (ec) {
            // --- 地图 ---
            var myChart2 = ec.init(document.getElementById('mainMap'));
            myChart2.setOption({
				dataRange: {
					min : 0,
					max : 100,
					calculable : true,
					color: ['#ff3333', 'orange', 'yellow','lime','aqua'],
					textStyle:{
						color:'#fff'
					}
				},
				series : [
					{
						name: '全国',
						type: 'map',
						roam: true,
						hoverable: false,
						mapType: 'china',
						itemStyle:{
							normal:{
								borderColor:'rgba(100,149,237,1)',
								borderWidth:0.5,
								areaStyle:{
									color: '#1b1b1b'
								}
							}
						},
						data:[],
						markLine : {
							smooth:true,
							symbol: ['none', 'circle'],
							symbolSize : 1,
							itemStyle : {
								normal: {
									color:'#fff',
									borderWidth:1,
									borderColor:'rgba(30,144,255,0.5)'
								}
							},
							data : [
							],
						},
						geoCoord: {
							'上海': [121.4648,31.2891],
							'新疆': [87.9236,43.5883],
							'甘肃': [103.5901,36.3043],
							'北京': [116.4551,40.2539],
							'江苏': [118.8062,31.9208],
							'广西': [108.479,23.1152],
							'江西': [116.0046,28.6633],
							'安徽': [117.29,32.0581],
							'内蒙古': [111.4124,40.4901],
							'黑龙江': [127.9688,45.368],
							'大连': [122.2229,39.4409],
							'天津': [117.4219,39.4189],
							'山西': [112.3352,37.9413],
							'广东': [113.5107,23.2196],
							'四川': [103.9526,30.7617],
							'西藏': [91.1865,30.1465],
							'云南': [102.9199,25.4663],
							'浙江': [119.5313,29.8773],
							'湖北': [114.3896,30.6628],
							'辽宁': [123.1238,42.1216],
							'山东': [117.1582,36.8701],
							'海南': [110.3893,19.8516],
							'河北': [114.4995,38.1006],
							'福建': [119.4543,25.9222],
							'青海': [101.4038,36.8207],
							'陕西': [109.1162,34.2004],
							'贵州': [106.6992,26.7682],
							'河南': [113.4668,34.6234],
							'重庆': [107.7539,30.1904],
							'宁夏': [106.3586,38.1775],
							'吉林': [125.8154,44.2584],
							'湖南': [113.0823,28.2568],
						},
						markPoint : {
							symbol:'emptyCircle',
							symbolSize : function (v){
								return 10 + v/10
							},
							effect : {
								show: true,
								shadowBlur : 0
							},
							itemStyle:{
								normal:{
									label:{show:false}
								},
								emphasis: {
									label:{position:'top'}
								}
							},
							data : node_list
						}
					},
					{
						name: '北京 Top10',
						type: 'map',
						mapType: 'china',
						data:[],
						markLine : {
							smooth:true,
							effect : {
								show: true,
								scaleSize: 1,
								period: 30,
								color: '#fff',
								shadowBlur: 10
							},
							itemStyle : {
								normal: {
									label:{show:false},
									borderWidth:1,
									lineStyle: {
										type: 'solid',
										shadowBlur: 10
									}
								}
							},
							data : edge_list
						},
						markPoint : {
							symbol:'emptyCircle',
							symbolSize : function (v){
								return 0.1
							},
							effect : {
								show: false,
								shadowBlur : 0
							},
							itemStyle:{
								normal:{
									label:{show:true,
										  position:'top',
										  textStyle: {
													fontSize: 14
												}
										  }
								},
								emphasis: {
									label:{show:false}
								}
							},
							data : node_list
						}
					}
				]
        });
	});
}
    </script>

<div style="text-align:center;clear:both;margin-top:30px">
<script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
<script src="/follow.js" type="text/javascript"></script>
</div>

{% endblock %}
